<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<% if @user.image? %>
  <%= image_tag @user.image.thumb.url %>
<% end %>
<h1><%= @user.name %></h1>
<div>
  <% @posts.each do |post| %>
  <%= post.title %> |
  <%= post.content %> |
  <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  <%= link_to post.user.name, user_path(post.user) %><br/>
  <% end %>

  <%= paginate(@posts) %>
</div>