<div><!--内容-->
  <% posts.each do |post| %>
    <%= link_to post.title, post_path(post.id) %> |
    <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>

    いいね！<%= post.likes.count %>
    
    <% if post.user.image? %>
      <%= link_to image_tag(post.user.image.thumb30.url, class:"user-icon"), user_path(post.user) %>
    <% else %>
      <%= link_to image_tag("default30.jpg", class:"user-icon"), user_path(post.user) %>
    <% end %>

    <%= link_to post.user.name, user_path(post.user) %>
    <br/>
  <% end %>

  <%= paginate(posts) %>
</div>