<% if user_signed_in? %>
  <%= form_with model: [@post, @comment], local: true do |f| %>
    <div>
      <div>
        <h5>コメントする</h4>
        <%= f.text_area :content, placeholder: "コメントを入力", class: "p-2 mt-1 rounded" %>
      </div>
      <div>
        <%= f.submit "コメント", class: "btn btn-primary mt-3" %>
      </div>
    </div>
  <% end %>
<% end %>

<% unless @post_comments.present? %>
  <div class="message mt-4">
    この投稿へのコメントはありません
  </div>
<% end %>

<div id='messages'>
  <% @post_comments.each do |comment| %>
    <div class="message mt-3">
      <%= comment.content.truncate(100) %>
      <br>

      <div class="mt-2">
        <span class="post-time-message"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>

          <% if comment.user.image? %>
            <%= link_to image_tag(comment.user.image.thumb.url, class:"user-icon"), user_path(comment.user) %>
          <% else %>
            <%= link_to image_tag("default_thumb.jpg", class:"user-icon"), user_path(comment.user) %>
          <% end %>

        <% if comment.user == current_user %>
            <%= link_to "あなた", comment.user, class: "link message-user" %> |
            <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% else %>
            <%= link_to comment.user.name, comment.user, class: "link message-user" %>
            <span class="message-user-san"></span>さん
        <% end %>
      </div>

    </div>
  <% end %>
</div>