<h1><%= @post.title %></h1>
<div>
  <%= @post.content %><br/>
  <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %> | 

  <div id="show_like_<%= @post.id %>">
    <%= render 'likes/like', locals: { post: @post } %>
  </div>
  <% if @post.user.image? %>
    <%= link_to image_tag(@post.user.image.thumb30.url, class:"user-icon"), user_path(@post.user) %>
  <% else %>
    <%= link_to image_tag("default30.jpg", class:"user-icon"), user_path(@post.user) %>
  <% end %>

  <%= link_to @post.user.name, user_path(@post.user) %>
</div>

<%= render 'posts/comment_area' %>